<div class="p-2 h-100 navbar-light bg-background pt-2 border p-4 rounded">
  <section class="d-flex h-100 flex-column pt-2 g-4 py-1 px-2">
    <div class="d-flex me-2 justify-content-between">
      <span class="me-5">Company</span>
      <button class="circle border border-success rounded-circle cursor" routerLink="add"
        (click)='redirectAdd()'>+</button>
    </div>
    <div class="pt-2">

      <input type="search" class="form-control" placeholder="Search..." [(ngModel)]="searchText ">
    </div>
    <div class=" mt-3">
      <div class="card shadow" style="width: 424px">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <p>Logo</p>
            <p>Company Name</p>
            <p>Action</p>
          </div>
          <div>
            <ng-container *ngIf="( companyList | filterRecord: searchText) as result">
            <div *ngFor="let item of companyList | filterRecord: searchText" class="d-flex align-items-center justify-content-between">
              <p class="circle border rounded-circle cursor logo-background">{{item.companyName | nameLogo}}</p>
              <p (click)="editComapny(item)">{{item.companyName | titlecase}}</p>
              <p><button class="btn btn-danger " (click)="deleteCompanyData(item)">x</button></p>
            </div>
            <p *ngIf="result.length === 0" class="text-danger no-record">No Record Found</p> 
          </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>