<div class="modal d-flex">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
      </div>
      <div class="modal-body">
        <p>Do you want to delete {{name | titlecase}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancleData()">No</button>
        <button type="button" class="btn btn-primary" (click)="confirmData()">Yes</button>
      </div>
    </div>
  </div>
</div>