<header class="navbar-light bg-light ">
        <div class=" align-items-center ms-3 d-flex">
            <div>
                <i class="bi bi-list text-black fs-4 me-3"></i>
            </div>
            <div class="">
                <h4 class="text-black">Company</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">Company</li>
                      <li class="breadcrumb-item active" aria-current="page">1Rivet</li>
                    </ol>
                  </nav>
            </div>
        </div>
</header>
