<!-- <header class="d-flex flex-column navbar-light bg-light ">
        <div class=" align-items-center ms-3 d-flex">
                <i class="bi bi-list text-black fs-4 me-3"></i>
                <h4 class="text-black">Company</h4>
                <xng-breadcrumb class="ms-4"></xng-breadcrumb>

        </div>
</header> -->


<nav class="d-flex w-100 flex-column bg-light p-2 border">
  <div class="d-flex align-items-center">
      <a class="nav-link">
          <span class="bi bi-list me-3"></span>
      </a>
      <h4>Company</h4>
  </div>
  <xng-breadcrumb class="ms-4"></xng-breadcrumb>
</nav>